@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
}

body {
  font-family: 'Rubik', sans-serif;
}

header {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 1.5em;
  background: url(../images/pattern-bg.png) no-repeat;
  background-size: cover;
}

header .container h1 {
  margin-top: .5em;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

header .container .input-group {
  margin: 1em 0 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

header .container .input-group input {
  border: none;
  outline: none;
}

header .container .input-group input[type="text"] {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  width: 100%;
  padding: 1em;
  font-size: 18px;
  color: var(--Very-Dark-Gray);
  font-weight: 700;
}

header .container .input-group input[type="submit"] {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 1.5em;
  background: url(../images/icon-arrow.svg) no-repeat;
  background-color: var(--Very-Dark-Gray);
  background-position: center;
}

header .container .ip-info-display {
  z-index: 99;
  width: 90%;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: calc(-90%/2);
  padding: 1em;
  border-radius: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header .container .ip-info-display .grid-item p {
  color: var(--Dark-Gray);
  padding: .5em 0;
}

header .container .ip-info-display .grid-item h3 {
  color: var(--Very-Dark-Gray);
}

iframe {
  height: 550px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  header .container {
    width: 80%;
    margin: 0 auto;
  }
  header .container .input-group {
    width: 55%;
    margin: 1em auto;
  }
  header .container .ip-info-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 50%;
  }
  header .container .ip-info-display .grid-item {
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    width: 25%;
    position: relative;
    padding: .5em 0 .5em 0;
    margin-right: 1em;
  }
  header .container .ip-info-display .grid-item p {
    font-size: 15px;
  }
  header .container .ip-info-display .grid-item > div {
    height: 50px;
    border-right: 1px solid var(--Dark-Gray);
  }
  header .container .ip-info-display .grid-item .isp {
    border: none;
  }
}
/*# sourceMappingURL=style.css.map */